<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Gestão de Clientes</title>
  <link rel="stylesheet" href="css/management.css" />
</head>
<body>
  <div class="container">
    <h1>Gestão de Clientes</h1>

    <table id="tabela">
      <thead>
        <tr>
          <th>Nome</th>
          <th>ID</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody></tbody>
    </table>

    <div class="form">
      <h2>Cadastrar Cliente</h2>
        <form action="/clientes" method="post">
          <input type="text" placeholder="Nome do cliente" name="name" class="nome"/>
          <button class="add-button" type="submit"  >Adicionar Cliente</button>
        </form>
        <form action="/principal" method="get"><button type="submit"  class="pagIButton">Página Principal</button></form>
    </div>
  </div>
  <script  type="module" src="js\modules\clientes.js"> </script>
</body>
</html>
