<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="css/login.css">
</head>
<body>
    <div class="login-container">
        <h2>Login</h2>
        <form action="/login" method="post">
        <label>Usuário</label>
        <input type="text" placeholder="Digite seu usuario" name="user">
        <label>Senha</label>
        <input type="password" placeholder="Digite a senha" name="password">
        <button type="submit">Entrar</button>
        <button type="reset">Limpar</button>
        </form>
        <form action="/cadastro" method="get">
        <button type="submit">Registrar-se</button>
        </form>
    
    </div>
</body>
</html>
