<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tela Principal</title>
    <link rel="stylesheet" href="css/principal.css">
</head>
<body>
    <div class="sidebar">
        <h3>sistema</h3>
        <ul>
            <li><form action="/clientes" method="get"><button class="li-button">Clientes</button></form></li>
            <li><form action="/produtos" method="get"><button class="li-button">Produtos</button></form></li>
            <li><form action="/logOut" method="post"><button class="li-button">Sair da Conta</button></form></li>
        </ul>
    </div>
    <div class="main-dashboard div-js">
    </div>
    <script type="module" src="js\principal.js"></script>
</body>
</html>
