<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tela Principal</title>
    <link rel="stylesheet" href="css/principal.css">
</head>
<body>
    <div class="sidebar">
        <h3>sistema</h3>
        <ul>
            <li>Home</li>
            <li>Clientes</li>
            <li>Cadastro</li>
            <li>Consulta</li>
            <li>Produtos</li>
            <li>Relatório</li>
        </ul>
    </div>
    <div class="div-js  main-dashboard" >
        
    </div>
    <script type="module" src="js/principal.js"></script>
</body>
</html>
