<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tela Principal</title>
    <link rel="stylesheet" href="principal.css">
</head>
<body>
    <div class="sidebar">
        <h3>sistema</h3>
        <ul>
            <li>Home</li>
            <li>Clientes</li>
            <li>Cadastro</li>
            <li>Consulta</li>
            <li>Produtos</li>
            <li>Relatório</li>
        </ul>
    </div>
    <div class="main-dashboard">
        <div class="card black">96<br>Clientes Ativos<br><button>Gerenciar Clientes</button></div>
        <div class="card gray">0<br>Produtos Cadastrados<br><button>Gerenciar Produtos</button></div>
        <div class="card yellow">44<br>Captações Pendentes<br><button>Gerenciar Captação</button></div>
    </div>
</body>
</html>
