<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Cadastro</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <div class="login-container">
        <h2>Cadastro</h2>
        <form action="/cadastro" method="POST">
            <label for="nome">Nome</label>
            <input type="text" id="nome" name="name" required>

            <label for="usuario">Usuário</label>
            <input type="text" id="usuario" name="user" required>

            <label for="senha">Senha</label>
            <input type="password" id="senha" name="password" required>

            <button type="submit">Cadastrar</button>
        </form>
        <form action="/" method="get" >
            <button  type="submit">Login</button>
        </form>
    </div>
</body>
</html>
